.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 2em auto 0em auto;
  position: relative;
}
.top {
  height: 36em;
  width: inherit;
  display: flex;
  margin-left: 8em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: 48em 0em;
  background-size: 46em 35em;
  gap: 1em;
  position: relative;
}

.head {
  width: 8em;
  /* padding-left: 0.49em; */
  font-size: 4.5rem;
  font-weight: 700;
  color: hsl(255, 11%, 22%);
  letter-spacing: -3px;
  line-height: 1.1em;
}
.top p:nth-child(n + 2) {
  width: 26em;
  font-size: 18px;
  color: hsl(257, 7%, 63%);
  /* padding: 0em 0em 0em 2.2em; */
}
.btn {
  color: hsl(0, 0%, 100%);
  height: 2.3em;
  width: 8.75em;
  font-size: 15px;
  font-weight: 500;
  background-color: hsl(180, 66%, 49%);
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
  /* margin-left: 2.5em; */
}
.btn:hover {
  /* color: hsl(0, 0%, 90%); */
  background-color: hsl(180, 66%, 65%);
}
.searchArea {
  height: 6em;
  width: 71em;
  position: absolute;
  top: 33.5em;
  background-image: url("/images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto 12.1em;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.searchArea form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* flex-basis: 55em; */
}
.searchArea input {
  width: 67em;
  max-height: 3em;
  border: none;
  border-radius: 5px;
  padding: 1em 1em 1em 1em;
}
.searchArea input::placeholder {
  color: hsl(0, 0%, 75%);
  padding: 1em 1em 1em 1em;
}
.searchArea button {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  height: 3.49em;
  width: 10em;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 5px;
}
.searchArea button:hover {
  cursor: pointer;
  background-color: hsl(180, 66%, 65%);
}

/*-------------------Bottom-------------------------*/
.bottom {
  height: 40em;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(257, 7%, 96%);
  color: hsl(255, 11%, 22%);
}
.bottom > div:nth-child(1) {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom > div:nth-child(1) > p:nth-child(2) {
  width: 33em;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.title {
  font-size: 2.7rem;
  font-weight: 700;
  /* line-height: 1em; */
}
.feature {
  height: 15em;
  width: 22em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.1em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  /* margin-top: 3em; */
}
.feature > p:nth-child(3) {
  width: 19em;
  font-size: 13px;
  color: hsl(257, 7%, 63%);
  padding-left: 2em;
}
.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 1.3em;
}
.icon {
  height: 4.5em;
  width: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2em;
  left: 1em;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50px;
}

.featureSection {
  height: 25em;
  width: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.line {
  z-index: 10;
  position: absolute;
  width: 2.15em;
  height: 0.5em;
  left: 30.85em;
  background-color: hsl(180, 66%, 49%);
}
